<form action="/subscription" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_VrfQkZAiMpkSdFrZRigKz4JA"
    data-amount="200"
    data-name="Stripe.com"
    data-description="Widget"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto"
    data-currency="usd"
    data-zip-code="true">
  </script>
  <input type="hidden" name="chargeAmount" value="200">
</form>
<html>